{% load static %}
{% load settings %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rundata.info is a web version of ​​​Scandinavian Runic-text Data Base.">
    <link rel="stylesheet" href="{% static 'css/runinskrifter_style.css' %}" />
    {% get_from_settings 'USE_GA' as use_ga %}
    {% if use_ga %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116856737-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-116856737-2');
    </script>
    {% endif %}

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
    <link rel="mask-icon" href="{% static 'safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <style type="text/css">
      .responsive {
        width: 100%;
        height: auto;
      }
    </style>
    <title>Rundata.info - about</title>
  </head>
  <body>
    <header><h1>Rundata.info introduction</h1></header>
    <section id="about">
      <h1>About</h1>
      <p>Hello and welcome ​to Rundata.info website. This is a web client for <a href="http://www.nordiska.uu.se/forskn/samnord.htm/?languageId=1">​​​Scandinavian Runic-text Data Base</a> (<abbr title="Samnordisk runtextdatabas">SRDB</abbr>). The database contains information about runic inscriptions discovered mostly in Nordic countries (Scandinavia, Iceland, Scotland, Russia, e.t.c.).

      This web version is based on a desktop client app known as <a href="https://en.wikipedia.org/wiki/Rundata">Rundata</a>. Despite the name of the website, the project itself has the name Rundata-net. So Rundata-net is available at web address <a href="http://www.rundata.info">http://www.rundata.info</a>.

      Rundata-net is a close adaptation of original Rundata. Although the interface of Rundata-net is in English, the database contains a lot of textual information and location descriptions in Swedish. This means that if you do not speak ​​Swedish, then you might struggle to get all the information.</p>

      <p>Rundata-net was created by <a href="https://blog.vadimfrolov.com">Vadim Frolov</a> and <a href="mailto:sofia.pereswetoff-morath@su.se">Sofia Pereswetoff-Morath</a>.</p>

      <p>Rundata.info is intended to be run in a modern browser on a desktop computer with a modern monitor/display. The horizontal resolution should be at least 1920 pixels. It might work on smartphones or smaller monitors, but it will look ugly.</p>

      <p>The access to Rundata.info website is provided free of charge.</p>
    </section>

    <section>
      <h1>Rundata-net code and support</h1>
      <p>​​The source code of Rundata-net is open and provided under the terms of GNU GPL license, which ensures that the source code stays open. You can obtain the code from Gitlab repository <a href="https://gitlab.com/fralik/rundata-net">rundata-net</a>. By doing so you are able to run a version of Rundata-net the way you like it: on you own machine, on your dedicated server or in the cloud. It's up to you! You have all the freedom.</p>
      <h2>User support</h2>
        <p>If you have issues of bug reports, submit them on the <a href="https://gitlab.com/fralik/rundata-net/issues">project page</a>.</p>
        <p>If you have comments, you can reach me via e-mail (see bottom of that page).</p>
        <p>User documentation is available at <a href="https://rundata-net.readthedocs.io/en/latest/">Read the Docs</a> website.</p>
      <h2>Support Rundata-net</h2>
      <p>You contribution will help support Rundata.info website. Although it is a volunteering project your contributions will be highly appreciated.<br>
      The donation will go for:<br>
      <ul>
        <li>Covering running costs.</li>
        <li>Further support and improvements. If I get enough funds, I can hire skilled people to help me out. I am definitely not capable of doing everything by myself.</li>
        <li>Covering some part of my work.</li>
      </ul>
      <p><script src="https://donorbox.org/widget.js" paypalExpress="false"></script><iframe src="https://donorbox.org/embed/rundata-net-support" height="685px" width="100 %"
        style="max-width:500px; min-width:310px; max-height:none!important" seamless="seamless" name="donorbox" frameborder="0" scrolling="no" allowpaymentrequest></iframe>
      </p>
    </section>

    <section id="ack">
      <h1>Acknowledgements</h1>
      <p>This project won't be possible without help of:
        <ul>
          <li><a href="http://runbloggen.gamlebo.se/">Jan Owe</a>. Jan is the maintainer of the original Rundata program and the database.</li>
          <li><a href="https://www.runinskrifter.net">Marcus Smith</a>. Marcus developed perhaps the first web version of Rundata. I used his website for inspiration and to collect some missing data in the database.</li>
          <li><a href="https://www.su.se/english/profiles/alepe-1.185724">Alexander Pereswetoff-Morath</a>. Alexander helped to make documentation in English better.</li>
        </ul>
      </p>
    </section>

    <section id="browser-support">
      <h1>Browser support</h1>
      The list below shows how Rundata-net is supported in different browsers. The version number indicates from which browser version Rundata-net is known to be working.
      <ul>
        <li>Microsoft Edge, 12.</li>
        <li>Chrome, 49.</li>
        <li>Firefox, 44.</li>
        <li>Safari, -. <b>Not supported for now!</b> There are known issues.</li>
        <li>Internet Explorer, -. <b>Not supported!</b></li>
      </ul>
    </section>

    <footer class="footer navbar-fixed-bottom">
      <p>© 2018 Vadim Frolov, <a href="mailto:mail@vadimfrolov.com">mail@vadimfrolov.com</a>.</p>
    </footer>
  </body>
</html>
